.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Arial";
}

.query-title {
    font-size: 30px;
    padding: 10px;
}

::placeholder {
    font-style: italic;
}

:disabled {
    opacity: 10%;
    background-color: lightgrey;
}

.additional-options, .query-container, .stars-container, .user-container, .org-container, .license-container{
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
}



hr {
    width: 80%;
}

input, select{
    width: 60%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
}

.include-forked-container {
    display: inline;
}

.include-forked input {
    width: 10px;
}

.additional-options {
    font-size: 15px;
}

.query-container {
    display: block;
    text-align: center;
}

.query-input {
    width: 70%;
    height: 30px;
}

.search-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.search-button {
    border-radius: 10px;
    height: 40px;
    width: 100px;
    font-weight: bold;
    background-color: lightblue;
    border-color: black;
}


.search-result {
    padding: 20px;
    width: 80%;
    border-style: solid;
    margin: auto;
    margin-bottom: 10px;
    font-family: "Arial"
}

.search-results-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-results-header {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin: 40px;
    font-family: "Arial";
}

.search-result-title {
    padding-bottom: 10px;
    color:#ff6961;
    font-weight: bold;
}

.search-result-top-box div {
    padding: 5px;
    flex: 1 1 0;
    border-style: solid;
    border-width: 1px;
    font-size: .8rem;
    background-color: hsla(1, 100%, 90%, 0.3);
    ;
}

.search-result-top-box {
    display: flex;
    border-style: solid;
    border-width: 1px;
    flex-wrap: wrap;
}

.search-result-description {
    margin-top: 5px;
    font-style: italic;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    border: 9px solid #f3f3f3; /* Light grey */
    border-top: 9px solid #ff6961; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(480deg); }
  }